language: python
python:
  - "2.7"
  - "2.6"
# command to install dependencies
install: "pip install -r requirements.txt --use-mirrors"
# command to run tests
script: 
  - tox
after_success:
  coveralls

